Repository Johnmontoya/BlogAppWebCrisol: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests, npm run test --prefix server-crisol -- --findRelatedTests

.lintstagedrc.json:

{
  "client-crisol/**/*.{js,jsx,ts,tsx}": [
    "npm run lint --prefix client-crisol",
    "npm run test:run --prefix client-crisol -- --related --findRelatedTests"
  ],
  "server-crisol/**/*.js": [
    "npm run test --prefix server-crisol -- --findRelatedTests"
  ]
}

chore: remove unused file.
  client-crisol/src/main.tsx.tmp
Due: none

Revert "feat: Implement blog page with post filtering and news integration, and add a generic error fallback UI."
  client-crisol/src/components/blog/Blog.tsx
  client-crisol/src/components/fallbacks/ErrorFallback.tsx
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

Revert "chore: remove unused file."
  client-crisol/src/main.tsx.tmp
Due: none

feat: Add GitHub Actions workflow for Vercel production deployment and client Vercel configuration.
  .github/workflows/production.yaml
  client-crisol/vercel.json
Due: none

chore: Delete core project configuration and dependency files.
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

test: Add rate limiting security test for the login endpoint.
  server-crisol/test/security/rate_limiting.test.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: Create Blog page with category filter, search functionality, and a news sidebar.
  client-crisol/src/components/blog/Blog.tsx
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: Set up Storybook with initial component stories and configuration for development and documentation.
  client-crisol/.agent/skills/storybook/SKILL.md
  client-crisol/.gitignore
  client-crisol/.storybook/main.ts
  client-crisol/.storybook/preview.ts
  client-crisol/.storybook/vitest.setup.ts
  client-crisol/eslint.config.js
  client-crisol/package-lock.json
  client-crisol/package.json
  client-crisol/src/components/Banner.stories.tsx
  client-crisol/src/components/Footer.stories.tsx
  client-crisol/src/components/Skeleton.stories.tsx
  client-crisol/src/components/blog/BlogCard.stories.tsx
  client-crisol/src/components/blog/BlogCardSkeleton.stories.tsx
  client-crisol/src/components/news/NewsSkeleton.stories.tsx
  client-crisol/src/components/user/ProfileSkeleton.stories.tsx
  client-crisol/src/stories/decorators/withMockContext.tsx
  client-crisol/vite.config.ts
  client-crisol/vitest.shims.d.ts
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: Add Storybook stories for DesignSystem, Newsletter, Sidebar, ArticleSkeleton, HeroNews, and QuoteNews components.
  client-crisol/src/components/Newsletter.stories.tsx
  client-crisol/src/components/Sidebar.stories.tsx
  client-crisol/src/components/blog/ArticleSkeleton.stories.tsx
  client-crisol/src/components/news/HeroNews.stories.tsx
  client-crisol/src/components/news/QuoteNews.stories.tsx
  client-crisol/src/stories/DesignSystem.stories.tsx
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: Set up GitHub Actions for Vercel preview and production deployments and configure client-side Vite for testing.
  .github/workflows/preview.yaml
  .github/workflows/production.yaml
  client-crisol/package-lock.json
  client-crisol/vite.config.ts
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

chore: Add package-lock.json for precise dependency locking.
  server-crisol/package-lock.json
Due: none

build: Generate package-lock.json files for client and server dependencies.
  client-crisol/package-lock.json
  server-crisol/package-lock.json
Due: none

docs: Document Storybook component library, premium skeleton screens, and update frontend testing strategy with Playwright integration.
  README.md
Due: none

feat: Create Blog component for displaying and filtering articles by category and search input.
  client-crisol/src/components/blog/Blog.tsx
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: implement blog comment functionality with dedicated UI page and backend controller support
  client-crisol/src/config/config.ts
  client-crisol/src/interfaces/comment.d.ts
  client-crisol/src/pages/BlogPage.tsx
  server-crisol/src/app.js
  server-crisol/src/controllers/Blog-controller.js
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests, npm run test --prefix server-crisol -- --findRelatedTests

feat: containerize MERN application with Docker and docker-compose orchestration
  client-crisol/.dockerignore
  client-crisol/Dockerfile
  docker-compose.yml
  server-crisol/.dockerignore
  server-crisol/Dockerfile
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: initialize Express application with middleware, routes, and Swagger documentation
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: initialize express application with middleware, CORS configuration, and route definitions
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: add server URL and access token key configuration constants
  client-crisol/src/config/config.ts
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: implement main layout, router metadata, and initial contact, feature, and about pages
  client-crisol/src/components/Layout.tsx
  client-crisol/src/interfaces/routerMeta.ts
  client-crisol/src/pages/ContactPage.tsx
  client-crisol/src/pages/FeaturePage.tsx
  client-crisol/src/pages/NosotrosPage.tsx
Due: npm run lint --prefix client-crisol, npm run test:run --prefix client-crisol -- --related --findRelatedTests

feat: initialize express application with CORS, rate limiting, and route configurations
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: initialize express application with middleware, routes, and CORS configuration
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests

feat: initialize express application with CORS, rate limiting, authentication, and API routing
  server-crisol/src/app.js
Due: npm run test --prefix server-crisol -- --findRelatedTests
